<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="log4jPattern">
            %d{yyyy-MM-dd HH:mm:ss} %-5p - [%X{sessionId}] - %t - %c:%L - %m%n
        </Property>
        <Property name="logPath">/Programmi Portable/apache-tomcat-10.0.13/logs/ecommerce</Property>
        <Property name="appName">ecommerce</Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${log4jPattern}" />
        </Console>
        <RollingFile name="dailyLog" fileName="${logPath}/${appName}.log"
                     filePattern="${logPath}/${appName}-%d{yyyy-MM-dd}.%i.log.gz">
            <PatternLayout pattern="${log4jPattern}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="10 MB" />
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${logPath}" maxDepth="1">
                    <IfFileName glob="${appName}-*.log.gz" />
                    <IfLastModified age="90d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.springframework" level="info" />
        <Logger name="org.springframework.web" level="info" />
        <Logger name="org.apache.catalina" level="info" />
        <Logger name="org.apache.tomcat" level="info" />
        <Logger name="org.apache.coyote" level="info" />
        <Logger name="com.zaxxer.hikari" level="info" />
        <Logger name="org.hibernate" level="warn" />
        <Logger name="org.apache.http" level="debug" />
        <Logger name="springfox.documentation" level="info" />
        <Logger name="springfox.validators" level="info" />
        <Logger name="springfox.bean.validators" level="info" />

        <Root level="debug">
            <AppenderRef ref="dailyLog" />
            <AppenderRef ref="ConsoleAppender" />
        </Root>
    </Loggers>
</Configuration>